.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  .inputs {
  }

  .disabled-message {
    font-size: 14px;
    margin-top: calc(-2rem + 8px);
    max-width: 200px;
    text-wrap: balance;
    background-color: var(--white);
    color: var(--black);
    padding: 5px;
    border: 1px solid var(--text);
    border-radius: 4px;
  }
}
