nav {
  min-width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  figure {
    display: flex;
    align-items: center;

    img {
      width: 50px;
      height: auto;
    }
  }

  button {
    outline: none;
    border: none;
    background-color: transparent;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    cursor: pointer;
    color: var(--text);

    transition: color 0.3s ease;

    font-weight: bolder;

    svg {
      font-size: 1.2rem;
      fill: var(--text);
      transition: fill 0.3s ease;
    }

    &:hover {
      color: #858585;

      svg {
        fill: #858585;
      }
    }

    &:active {
      transform: scale(0.95);
      filter: brightness(0.75);

      svg {
        filter: brightness(0.75);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  nav {
    button {
      color: var(--text);

      svg {
        font-size: 1.2rem;
        fill: var(--text);
        transition: fill 0.3s ease;
      }

      &:hover {
        color: var(--white);

        svg {
          fill: var(--white);
        }
      }

      &:active {
        transform: scale(0.95);
        filter: brightness(0.75);

        svg {
          filter: brightness(0.75);
        }
      }
    }
  }
}
